/*

    Theme Name: Heavy Restaurant Group
    Theme URI: https://heavyrestaurantgroup.com/
    Description: Version 1.0 of Heavy Restaurant Group
    Version: 1.0

*/
/* Box sizing rules */
@import url("https://use.typekit.net/clt3euh.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

div,
section,
article,
aside {
  position: relative;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=navigation],
ol[role=navigation] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1em;
  line-height: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body,
button,
input,
select,
optgroup,
textarea {
  font-family: brandon-grotesque, sans-serif;
  color: #2f2214;
}

a {
  color: #245364;
  text-decoration: none;
}

::-moz-selection {
  background: #376c85;
  text-shadow: none;
}

::selection {
  background: #376c85;
  color: #fff;
  text-shadow: none;
}

.section-title {
  font-size: clamp(3.11rem, 2.67rem + 2.22vw, 4.04rem);
  color: #402312;
  text-transform: lowercase;
  font-weight: bold;
}

.upper-title {
  color: #376c85;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
  line-height: 1.5em;
}

.copy-1 {
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
  font-weight: 500;
  line-height: 1.675em;
}
@media screen and (min-width: 1280px) {
  .copy-1 {
    font-size: clamp(1.5rem, 1.29rem + 1.07vw, 1.95rem);
  }
}
.copy-1.small {
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
  font-weight: 500;
  line-height: 1.675em;
}
@media screen and (min-width: 1280px) {
  .copy-1.small {
    font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
  }
}
.copy-1 > * + * {
  margin-top: 1rem;
}
.copy-1 a {
  text-decoration: underline;
}
.copy-2 {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  line-height: 1.5em;
}
.copy-2.large {
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
}
.copy-3 {
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  line-height: 1.5em;
}

body {
  background: #f8f5ed;
}

.site-content {
  min-height: 50vh;
}

html {
  scroll-behavior: smooth;
}
@media screen and (min-width: 992px) {
  html {
    scroll-padding-top: 141px;
  }
}

.grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: minmax(0, auto) repeat(4, minmax(auto, 1fr)) minmax(0, auto);
}
@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto);
  }
}
@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(12, minmax(0, 6rem)) minmax(0, auto);
  }
}
.grid > * {
  grid-column: 2/span 4;
}
@media screen and (min-width: 480px) {
  .grid > * {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  .grid > * {
    grid-column: 2/span 12;
  }
}

.forminator-custom-form label {
  display: block;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.075em;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
}
.forminator-custom-form input[type=email],
.forminator-custom-form input[type=text],
.forminator-custom-form input[type=number],
.forminator-custom-form textarea {
  background: transparent;
  border: 1px solid #376c85;
  width: 100%;
  padding: 1rem;
  line-height: 3.5rem;
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
  font-weight: 500;
  letter-spacing: 0.025em;
}
.forminator-custom-form textarea {
  line-height: 1.25em;
  font-weight: 400;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
}
.forminator-custom-form input[type=email],
.forminator-custom-form input[type=text],
.forminator-custom-form input[type=number] {
  height: 3.5rem;
}
.forminator-custom-form .forminator-select--field {
  width: 100%;
  height: 3.5rem;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  line-height: 3.5rem;
  padding: 0.5rem 1rem;
}
.forminator-custom-form .forminator-checkbox {
  display: flex;
  align-items: center;
}
.forminator-custom-form .forminator-checkbox:hover {
  cursor: pointer;
}
.forminator-custom-form .forminator-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.forminator-custom-form .forminator-checkbox .forminator-checkbox-box {
  width: 1.25rem;
  height: 1.25rem;
  background: white;
  margin-right: 0.5rem;
  position: relative;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.forminator-custom-form .forminator-checkbox .forminator-checkbox-box::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.forminator-custom-form .forminator-checkbox input:checked ~ .forminator-checkbox-box {
  background-color: #376c85;
}
.forminator-custom-form .forminator-checkbox input:checked ~ .forminator-checkbox-box:after {
  display: block;
}
.forminator-custom-form textarea {
  height: 10rem;
}
.forminator-custom-form select {
  background: transparent;
}
.forminator-custom-form h4.forminator-label {
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  letter-spacing: 0.05em;
  padding-bottom: 0.5rem;
}
.forminator-custom-form .forminator-row {
  width: 100%;
}
.forminator-custom-form .forminator-field {
  position: relative;
}
.forminator-custom-form .forminator-field .forminator-error-message {
  margin-top: 0.5rem;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #b33b3b;
  color: #fff;
  padding: 0.5rem 0.75rem;
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1.25em;
}
.forminator-custom-form .forminator-row-last {
  margin-bottom: 0 !important;
  padding-top: 2rem;
}
.forminator-custom-form .forminator-button-submit {
  background: #376c85;
  color: #fff;
  border: none;
  display: block;
  padding: 1.5rem 4rem;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.forminator-custom-form .forminator-button-submit:hover {
  cursor: pointer;
}
.forminator-custom-form .forminator-timepicker .forminator-row {
  display: flex !important;
}
.forminator-custom-form .forminator-timepicker .forminator-row > * + * {
  margin-left: 1rem;
}
.forminator-custom-form .forminator-timepicker .forminator-row > *:nth-child(3) {
  margin-top: 17px !important;
}
.forminator-custom-form .forminator-timepicker .forminator-field > label {
  font-size: clamp(0.5rem, 0.42rem + 0.38vw, 0.675rem);
}
.forminator-custom-form .forminator-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  line-height: 1.25em;
  letter-spacing: 0.1em;
  padding-top: 2rem;
}
.forminator-custom-form .forminator-response-message.forminator-error {
  display: none !important;
}
.forminator-custom-form .forminator-response-message.forminator-success {
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
  display: inline-block;
  padding: 1.5rem 2rem;
  margin: 2rem 0;
  background: #376c85;
  color: #fff;
}

.ui-datepicker {
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px, rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
  transform: translate3d(1rem, -1rem, 0);
}
.ui-datepicker-header {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #376c85;
}
.ui-datepicker-prev, .ui-datepicker-next {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #245364;
}
.ui-datepicker-prev span, .ui-datepicker-next span {
  color: #376c85;
  display: block;
  padding: 0.675rem 1rem;
  font-weight: 700;
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 200ms ease;
  align-items: center;
  display: flex;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
  cursor: pointer;
}
.ui-datepicker-prev:hover span, .ui-datepicker-next:hover span {
  background: #376c85;
  color: #fff;
}
.ui-datepicker-next {
  border-left: 1px solid;
}
.ui-datepicker-next span {
  justify-content: flex-end;
}
.ui-datepicker-next span:after {
  display: block;
  margin-left: 0.5rem;
  content: " >";
}
.ui-datepicker-prev span:before {
  display: block;
  margin-right: 0.5rem;
  content: "< ";
}
.ui-datepicker-title {
  display: flex;
  width: 100%;
}
.ui-datepicker-month, .ui-datepicker-year {
  width: 50%;
  color: #fff;
  background: #376c85;
  border-color: #376c85;
  font-weight: bold;
  height: 2.5rem;
  border-radius: 0;
  padding: 0 0.5rem;
}
.ui-datepicker-month:focus, .ui-datepicker-month:active, .ui-datepicker-year:focus, .ui-datepicker-year:active {
  outline: none;
}
.ui-datepicker-year {
  border-left: 1px solid #245364;
}
.ui-datepicker table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
}
.ui-datepicker-calendar {
  border-left: 1px solid #376c85;
}
.ui-datepicker-calendar th {
  background: #245364;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}
.ui-datepicker-calendar td {
  border-right: 1px solid #376c85;
  border-bottom: 1px solid #376c85;
  text-align: center;
}
.ui-datepicker-calendar td a {
  display: block;
  padding: 0.5rem;
}
.ui-datepicker-calendar td a:hover, .ui-datepicker-calendar td a.ui-state-active {
  background: #376c85;
  color: #fff;
}

.cta .btn {
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.cta .btn.white {
  background: #fff;
  color: #376c85;
}
.cta .btn.blue {
  background: #376c85;
  color: #fff;
}

.page-header {
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  .page-header {
    padding: 6rem 0;
  }
}
@media screen and (min-width: 992px) {
  .page-header {
    padding-top: 12rem;
  }
}
@media screen and (min-width: 768px) {
  .page-header > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  .page-header > * {
    grid-column: 3/span 8;
  }
}
.page-header .headline {
  padding-bottom: 1rem;
}
.page-header .copy {
  max-width: 68rem;
}
.page-header a:hover {
  text-decoration: underline;
}

.gallery {
  grid-column: 1/-1;
  overflow: hidden;
}
.gallery .photo {
  width: calc(53vw - 6rem);
  aspect-ratio: 379/393;
}
@media screen and (min-width: 768px) {
  .gallery .photo {
    width: calc(33.33vw - 4rem);
  }
}
.gallery .photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery .photo.medium {
  aspect-ratio: 568/393;
  width: calc(75.25vw - 8rem);
}
@media screen and (min-width: 768px) {
  .gallery .photo.medium {
    width: calc(50vw - 6rem);
  }
}
.gallery .photo.large {
  aspect-ratio: 758/393;
  width: calc(89.75vw - 8rem);
}
@media screen and (min-width: 768px) {
  .gallery .photo.large {
    width: calc(66.66vw - 8rem);
  }
}

body .fslightbox-container {
  background: rgba(255, 255, 255, 0.9);
}
body .fslightbox-toolbar {
  top: 6px;
  right: 6px;
  background: unset;
}
body .fslightbox-slide-btn,
body .fslightbox-toolbar-button {
  background: #376c85;
  border: 1px solid rgba(0, 0, 0, 0.075);
  transition: all 0.2s ease-in-out;
}
body .fslightbox-slide-btn:hover,
body .fslightbox-toolbar-button:hover {
  transform: translateY(-2px);
}
body .fslightbox-slide-btn[title="Enter fullscreen"], body .fslightbox-slide-btn[title="Exit fullscreen"],
body .fslightbox-toolbar-button[title="Enter fullscreen"],
body .fslightbox-toolbar-button[title="Exit fullscreen"] {
  display: none;
}
body .fslightbox-slide-btn .fslightbox-svg-path,
body .fslightbox-toolbar-button .fslightbox-svg-path {
  fill: #fff;
}
body .fslightbox-slide-btn .fslightbox-svg-path:hover,
body .fslightbox-toolbar-button .fslightbox-svg-path:hover {
  fill: #fff;
}
body .fslightbox-slide-number-container {
  display: none;
}

.js-fade-in {
  opacity: 0;
  transform: translateY(6rem);
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 1200ms;
  transition-delay: 500ms;
}
.js-fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.delay-1000 {
  transition-delay: 1000ms;
}

.delay-1500 {
  transition-delay: 1500ms;
}

.delay-2000 {
  transition-delay: 2000ms;
}

.duration-600 {
  transition-duration: 600ms;
}

.duration-800 {
  transition-duration: 800ms;
}

.duration-1000 {
  transition-duration: 1000ms;
}

.snap-point {
  width: 100%;
  height: 1px;
  z-index: -1;
}

.header-snap-point {
  position: absolute;
  top: 300px;
}

.site-header {
  padding: 1.5rem 0;
  align-items: center;
  background: #f8f5ed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5555;
  transition: all 400ms ease;
}
.site-header.sticky {
  padding: 0.75rem 0;
  border-bottom: 1px solid rgba(47, 34, 20, 0.05);
}
.site-header .logo {
  grid-column: 2/span 2;
  transition: all 200ms ease;
}
.site-header .logo img {
  max-width: 12rem;
  transition: all 200ms ease;
}
.site-header .logo.small {
  transition: all 200ms ease;
}
.site-header .logo.small img {
  max-width: 3rem;
  transition: all 200ms ease;
}
.site-header .logo-desktop {
  display: none;
}
@media screen and (min-width: 1280px) {
  .site-header .logo-desktop {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .site-header .logo-mobile {
    display: none;
  }
}
.site-header .hamburger {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 1.5rem;
}
@media screen and (min-width: 992px) {
  .site-header .hamburger {
    display: none;
  }
}
.site-header .hamburger .bun {
  width: 2rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}
.site-header .hamburger .bun .patty {
  width: 2rem;
  height: 2px;
  background: #2f2214;
  margin-left: auto;
  transition: all 200ms;
}
.site-header .hamburger .bun .patty:after, .site-header .hamburger .bun .patty:before {
  content: "";
  display: block;
  width: 2rem;
  height: 2px;
  background: #2f2214;
  position: absolute;
  z-index: 1;
  transition: all 200ms;
}
.site-header .hamburger .bun .patty:before {
  top: -8px;
}
.site-header .hamburger .bun .patty:after {
  top: 8px;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav {
    display: block;
    grid-column: 6/span 7;
  }
}
.site-header .site-nav .logo-mark {
  max-width: 5rem;
}
.site-header .site-nav .logo-mark a {
  display: block;
}
.site-header .site-nav .logo-mark img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav .logo-mark {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .site-header .site-nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 992px) {
  .site-header .site-nav li + li {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .site-header .site-nav li + li {
    margin-left: 3rem;
  }
}
.site-header .site-nav a {
  display: inline-block;
  text-transform: uppercase;
  color: #376c85;
  font-weight: 500;
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  white-space: nowrap;
  position: relative;
}
.site-header .site-nav a:after {
  display: block;
  content: "";
  width: 0;
  height: 2px;
  background: transparent;
  position: absolute;
  bottom: 12px;
  left: 0;
  transition: all 400ms ease 50ms;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav a:after {
    bottom: -6px;
  }
}
.site-header .site-nav a:hover:after {
  width: 100%;
  background: #fbfaf5;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav a:hover:after {
    background: #376c85;
  }
}
@media screen and (min-width: 1280px) {
  .site-header .site-nav a {
    font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  }
}
@media screen and (max-width: 991px) {
  .site-header .site-nav {
    position: fixed;
    height: 100vh;
    width: 60vw;
    left: -60vw;
    transition: left 200ms ease-in-out 50ms;
    top: 0;
    z-index: 9999;
    background: #376c85;
    padding: 2rem clamp(3rem, 10vw, 4rem);
  }
  .site-header .site-nav a {
    padding: 1.25rem 0;
    color: #fbfaf5;
    font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
    transition: all 400ms ease;
  }
}
@media screen and (max-width: 440px) {
  .site-header .site-nav {
    width: 70vw;
    left: -70vw;
  }
}
.site-header .social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 4/span 2;
}
@media screen and (min-width: 480px) {
  .site-header .social {
    grid-column: 6/span 4;
    align-items: end;
  }
}
@media screen and (min-width: 992px) {
  .site-header .social {
    grid-column: 13/span 1;
    transform: translateY(-2px);
  }
}
.site-header .social ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.site-header .social li + li {
  margin-left: 1.5rem;
}
@media screen and (min-width: 992px) {
  .site-header .social li + li {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .site-header .social li + li {
    margin-left: 1.5rem;
  }
}
.site-header .social a {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}
.site-header .social a svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  fill: #000;
}
.site-header .social a.facebook svg {
  transform: scale(1.5);
}

body.nav-overlay-open .hamburger .bun .patty {
  background: none;
}
body.nav-overlay-open .hamburger .bun .patty:after {
  top: 0;
  transform: rotate(45deg);
}
body.nav-overlay-open .hamburger .bun .patty:before {
  top: 0;
  transform: rotate(-45deg);
}
@media screen and (max-width: 991px) {
  body.nav-overlay-open .site-nav {
    left: 0;
    box-shadow: rgba(26, 26, 49, 0.42) 0px 30px 60px -12px, rgba(0, 0, 0, 0.55) 0px 18px 36px -18px;
  }
}

body.post-type-archive-concepts .site-nav li.concepts > a:after,
body.page-template-community .site-nav li.community > a:after,
body.page-template-careers .site-nav li.careers > a:after,
body.page-template-catering .site-nav li.catering > a:after,
body.page-template-extras .site-nav li.extras > a:after,
body.page-template-group-dining .site-nav li.group-dining > a:after {
  width: 100%;
  background: #fbfaf5;
}
@media screen and (min-width: 992px) {
  body.post-type-archive-concepts .site-nav li.concepts > a:after,
body.page-template-community .site-nav li.community > a:after,
body.page-template-careers .site-nav li.careers > a:after,
body.page-template-catering .site-nav li.catering > a:after,
body.page-template-extras .site-nav li.extras > a:after,
body.page-template-group-dining .site-nav li.group-dining > a:after {
    background: #376c85;
  }
}

.site-footer {
  background: #2f2214;
  color: #fbfaf5;
  padding: clamp(3rem, 10vh, 6rem) 0;
  margin-top: clamp(3rem, 10vh, 6rem);
}
.site-footer a {
  color: #fbfaf5;
}
.site-footer .logo {
  display: flex;
  justify-content: center;
}
.site-footer .logo a {
  display: block;
}
.site-footer .logo img {
  width: 6rem;
}
.site-footer .subscribe {
  padding-top: 4rem;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .site-footer .subscribe {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  .site-footer .subscribe {
    grid-column: 4/span 8;
  }
}
@media screen and (min-width: 1280px) {
  .site-footer .subscribe {
    grid-column: 5/span 6;
  }
}
.site-footer .subscribe .headline {
  padding-bottom: 2rem;
}
.site-footer .subscribe .headline h3 {
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
  font-weight: 500;
  line-height: 1.25em;
}
.site-footer .subscribe .subscribe-form {
  width: 100%;
}
.site-footer .subscribe .subscribe-form .form-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.site-footer .subscribe .subscribe-form .form-wrapper input[type=email] {
  width: 100%;
  height: 3rem;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  text-transform: uppercase;
  letter-spacing: 0.025em;
  padding: 0 1rem;
  line-height: 3rem;
  border: none;
  background: #fbfaf5;
  color: #376c85;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .site-footer .subscribe .subscribe-form .form-wrapper input[type=email] {
    flex: 1;
    width: auto;
  }
}
.site-footer .subscribe .subscribe-form .form-wrapper input[type=email]:focus, .site-footer .subscribe .subscribe-form .form-wrapper input[type=email]:active {
  outline-color: #376c85;
}
.site-footer .subscribe .subscribe-form .form-wrapper input[type=email]::-webkit-input-placeholder {
  color: #376c85;
}
.site-footer .subscribe .subscribe-form .form-wrapper input[type=email]::-moz-placeholder {
  color: #376c85;
}
.site-footer .subscribe .subscribe-form .form-wrapper input[type=email]:-moz-placeholder {
  color: #376c85;
}
.site-footer .subscribe .subscribe-form .form-wrapper input[type=email]:-ms-input-placeholder {
  color: #376c85;
}
.site-footer .subscribe .subscribe-form .form-wrapper input[type=submit] {
  height: 3rem;
  display: block;
  padding: 0 2rem;
  background: #376c85;
  color: #fbfaf5;
  border: 1px solid #376c85;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  margin-top: 2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .site-footer .subscribe .subscribe-form .form-wrapper input[type=submit] {
    margin-top: 0;
    margin-left: 0.5rem;
  }
}
.site-footer .restaurant-group {
  display: grid;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  padding: 4rem 0;
}
@media screen and (min-width: 768px) {
  .site-footer .restaurant-group {
    padding: 6rem 0;
  }
}
.site-footer .restaurant-group .concept {
  display: flex;
  justify-content: center;
}
.site-footer .restaurant-group .concept a {
  display: block;
}
.site-footer .restaurant-group .concept img {
  width: 6rem;
  height: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 1280px) {
  .site-footer .restaurant-group .concept img {
    width: 10rem;
    height: 6.5rem;
  }
}
.site-footer .contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
}
@media screen and (min-width: 992px) {
  .site-footer .contact-info {
    font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  }
}
@media screen and (min-width: 1280px) {
  .site-footer .contact-info {
    font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  }
}
.site-footer .contact-info > div {
  width: 100%;
  text-align: center;
}
.site-footer .contact-info > div + div {
  padding-top: 1rem;
}
@media screen and (min-width: 992px) {
  .site-footer .contact-info > div {
    width: auto;
    padding-right: 1rem;
    border-right: 1px solid #fbfaf5;
    margin-right: 1rem;
  }
  .site-footer .contact-info > div + div {
    padding-top: 0;
  }
  .site-footer .contact-info > div:last-of-type {
    padding-right: 0;
    border-right: none;
    margin-right: 0;
  }
}
.site-footer .contact-info p {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.site-footer .contact-info a {
  text-transform: lowercase;
}
.site-footer .contact-info .feedback .cta .btn {
  padding: 0.25rem 0.5rem 0.125rem;
  background: #376c85;
  font-weight: bold;
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.site-footer .photo-credit {
  padding-top: 2rem;
  text-align: center;
}
.site-footer .photo-credit p {
  font-size: clamp(0.66rem, 0.58rem + 0.48vw, 0.88rem);
  letter-spacing: 0.05em;
}
.site-footer .photo-credit a {
  text-decoration: underline;
}

body.page-template-home section.hero .headline {
  aspect-ratio: 4/3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 0 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.hero .headline {
    aspect-ratio: 16/9;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.hero .headline {
    aspect-ratio: unset;
    height: 40vh;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.hero .section-title {
    font-size: clamp(4.01rem, 6.07rem + 2.62vw, 5.875rem);
  }
}
body.page-template-home section.hero .icon {
  display: flex;
  justify-content: center;
  padding: clamp(3rem, 10vh, 6rem) 0 2rem;
}
body.page-template-home section.hero .down-arrow {
  display: flex;
  justify-content: center;
  padding-bottom: clamp(3rem, 7.5vh, 6rem);
}
body.page-template-home section.hero .down-arrow svg {
  -webkit-animation: bounceArrow 1200ms ease-in-out infinite;
          animation: bounceArrow 1200ms ease-in-out infinite;
}
@-webkit-keyframes bounceArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounceArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}
body.page-template-home .concepts-mobile-snap-point {
  position: absolute;
  top: -25%;
}
body.page-template-home section.concepts {
  overflow-x: hidden;
  position: relative;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts {
    overflow-x: unset;
    padding-top: clamp(6rem, 15vh, 12rem);
  }
}
body.page-template-home section.concepts .concepts-0-snap-point {
  position: absolute;
  top: -12%;
}
body.page-template-home section.concepts .concepts-50-snap-point {
  position: absolute;
  top: 40%;
}
body.page-template-home section.concepts .concepts-100-snap-point {
  position: absolute;
  bottom: -500px;
  height: 500px;
}
body.page-template-home section.concepts .concepts-section-header {
  padding-bottom: clamp(3rem, 7.5vh, 6rem);
  position: relative;
}
body.page-template-home section.concepts .concepts-section-header-mobile {
  display: block;
  text-align: center;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concepts-section-header-mobile {
    display: none;
  }
}
body.page-template-home section.concepts .concepts-section-header-desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concepts-section-header-desktop {
    display: block;
    padding-bottom: 0;
    position: absolute;
    grid-column: 1/-1;
    text-align: center;
    width: 100%;
    top: 0;
    transition: all 700ms ease;
  }
  body.page-template-home section.concepts .concepts-section-header-desktop.park {
    position: absolute;
    top: auto;
    bottom: 13%;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concepts-section-title-desktop {
    transition: all 700ms ease;
    position: absolute;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concepts-section-title-desktop.fixed {
    position: fixed;
    bottom: 50%;
    z-index: 4444;
    width: 100%;
    transition: all 700ms ease;
    font-size: clamp(4.01rem, 6.07rem + 2.62vw, 5.875rem);
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concepts-section-title-desktop.park {
    position: relative;
    top: 0;
    bottom: unset;
  }
}
body.page-template-home section.concepts .concept {
  display: flex;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.concepts .concept {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept {
    grid-column: 2/span 12;
  }
}
body.page-template-home section.concepts .concept + .concept {
  margin-top: clamp(3rem, 10vh, 6rem);
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept:nth-child(odd) {
    justify-content: flex-end;
  }
}
body.page-template-home section.concepts .photo {
  width: 100%;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .photo {
    width: 50%;
  }
}
body.page-template-home section.concepts .photo > img {
  width: 100%;
}
body.page-template-home section.concepts .sticker,
body.page-template-home section.concepts .pin {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}
body.page-template-home section.concepts .sticker a,
body.page-template-home section.concepts .pin a {
  display: block;
  width: 100%;
  height: 100%;
}
body.page-template-home section.concepts .sticker img,
body.page-template-home section.concepts .pin img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body.page-template-home section.concepts .sticker {
  width: 10rem;
  height: 4rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.concepts .sticker {
    width: 12rem;
    height: 8rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .sticker {
    width: 15rem;
    height: 10rem;
  }
}
body.page-template-home section.concepts .pin {
  width: 4rem;
  height: 4rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.concepts .pin {
    width: 6rem;
    height: 6rem;
  }
}
body.page-template-home section.concepts .concept-purple .sticker {
  top: 66%;
  right: -3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-purple .sticker {
    top: 20%;
    right: -8rem;
  }
}
body.page-template-home section.concepts .concept-purple .seattle {
  right: auto;
  left: -2rem;
  top: 25%;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-purple .seattle {
    left: auto;
    right: -60%;
    top: 50%;
  }
}
body.page-template-home section.concepts .concept-purple .woodinville {
  right: 25%;
  top: -2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-purple .woodinville {
    top: auto;
    bottom: -3rem;
  }
}
body.page-template-home section.concepts .concept-pablo .pablo-y-pablo {
  top: 33%;
  right: -2.25rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-pablo .pablo-y-pablo {
    right: auto;
    left: -80%;
  }
}
body.page-template-home section.concepts .concept-pablo .wallingford {
  right: 5%;
  top: -1rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-pablo .wallingford {
    left: -3rem;
    right: auto;
    top: 20%;
  }
}
body.page-template-home section.concepts .concept-pablo .woodinville {
  right: auto;
  top: 25%;
  left: -2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-pablo .woodinville {
    top: -2rem;
    left: 65%;
  }
}
body.page-template-home section.concepts .concept-fiasco .sticker {
  top: 66%;
  right: -1rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-fiasco .sticker {
    top: 33%;
    right: -6rem;
  }
}
body.page-template-home section.concepts .concept-fiasco .pin {
  right: auto;
  left: -2rem;
  top: 25%;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-fiasco .pin {
    top: auto;
    bottom: -3rem;
    left: 33%;
  }
}
body.page-template-home section.concepts .concept-moon .sticker {
  top: 66%;
  right: auto;
  left: -1.5rem;
  height: 6rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.concepts .concept-moon .sticker {
    height: 8rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-moon .sticker {
    left: -8rem;
  }
}
body.page-template-home section.concepts .concept-moon .pin {
  right: -2rem;
  top: 33%;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-moon .pin {
    top: -3rem;
    right: 25%;
  }
}
body.page-template-home section.concepts .concept-barrio .sticker {
  top: 66%;
  right: -3rem;
  height: 4rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.concepts .concept-barrio .sticker {
    height: 6rem;
    right: -11rem;
  }
}
body.page-template-home section.concepts .concept-barrio .pin {
  right: 40%;
  top: -2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-barrio .pin {
    right: 30%;
    top: -4rem;
  }
}
body.page-template-home section.concepts .concept-livbud .sticker {
  top: 50%;
  right: auto;
  left: -1.5rem;
  height: 6rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.concepts .concept-livbud .sticker {
    height: 8rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-livbud .sticker {
    left: -8rem;
  }
}
body.page-template-home section.concepts .concept-livbud .pin-1 {
  right: -1rem;
  top: 5rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-livbud .pin-1 {
    top: -3rem;
    right: 25%;
  }
}
body.page-template-home section.concepts .concept-livbud .pin-2 {
  top: 2rem;
  left: -1rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.concepts .concept-livbud .pin-2 {
    top: 3rem;
    left: -3rem;
  }
}

body.page-template-about .page-header .anchor {
  padding-top: 3rem;
}
body.page-template-about .page-header .anchor a {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  color: #245364;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  body.page-template-about .page-header .anchor a {
    font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  }
}
body.page-template-about .page-header .anchor a:hover {
  text-decoration: underline;
}
body.page-template-about section.people-mobile {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  body.page-template-about section.people-mobile {
    display: none;
  }
}
body.page-template-about section.people-mobile .person {
  width: 50vw;
}
body.page-template-about section.people-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  body.page-template-about section.people-desktop {
    display: grid;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-about section.people-desktop .container {
    display: grid;
    gap: 3rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about section.people-desktop .container {
    grid-column: 3/span 10;
  }
}
body.page-template-about section.people .person .photo img {
  aspect-ratio: 220/228;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
body.page-template-about section.people .person .info {
  padding-top: 0.75rem;
}
body.page-template-about section.people .person .info .name h4 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.25em;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
}
body.page-template-about section.people .person .info .title {
  padding-top: 0.25rem;
}
body.page-template-about section.people .person .info .title h5 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
}
body.page-template-about .directory {
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-about .directory {
    padding: 6rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-about .directory > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about .directory > * {
    grid-column: 3/span 8;
  }
}
body.page-template-about .directory__list {
  padding-top: 3rem;
  display: grid;
  gap: 4rem;
}
body.page-template-about .directory__item-header {
  padding-bottom: 0.5rem;
}
body.page-template-about .directory__item-header h4 {
  text-transform: uppercase;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  letter-spacing: 0.05em;
}
body.page-template-about .directory__item-body {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
}
body.page-template-about .directory__item-body p {
  display: flex;
  align-items: flex-end;
}
body.page-template-about .directory__item-body p > * + * {
  border-left: 1px solid;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}
body.page-template-about .directory__item-name {
  text-transform: uppercase;
}
body.page-template-about .directory__item-email {
  text-decoration: underline;
}
body.page-template-about .get-in-touch {
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-about .get-in-touch {
    padding: 6rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-about .get-in-touch > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about .get-in-touch > * {
    grid-column: 3/span 8;
  }
}
body.page-template-about .get-in-touch .section-header {
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-about .get-in-touch .section-header {
    grid-column: 3/span 6;
  }
}
body.page-template-about .get-in-touch .section-header .headline {
  padding-bottom: 3rem;
}
body.page-template-about .get-in-touch .section-header .copy {
  color: #402312;
}
body.page-template-about .get-in-touch .contact-info {
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-about .get-in-touch .contact-info {
    padding-top: 7.5rem;
    padding-bottom: 0;
    grid-column: 10/span 3;
  }
}
body.page-template-about .get-in-touch .contact-info p span {
  display: block;
}
body.page-template-about .get-in-touch .contact-info p a {
  display: inline-block;
}
body.page-template-about .get-in-touch .contact-info .location {
  padding-bottom: 0.5rem;
}
body.page-template-about .get-in-touch .contact-info .location h5 {
  text-transform: uppercase;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  letter-spacing: 0.05em;
  line-height: 1.25em;
  font-weight: 700;
}
@media screen and (min-width: 1280px) {
  body.page-template-about .get-in-touch .contact-info .location h5 {
    font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  }
}
body.page-template-about .get-in-touch .contact-info .email {
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  letter-spacing: 0.05em;
  padding-top: 0.5rem;
}
body.page-template-about .get-in-touch .contact-info .email:hover {
  text-decoration: underline;
}
body.page-template-about .get-in-touch .contact-info .phone a[href^="tel:"] {
  color: #402312;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  body.page-template-about .get-in-touch .form-header {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about .get-in-touch .forminator-custom-form {
    grid-column: 3/span 10;
  }
}
@media screen and (min-width: 783px) {
  body.page-template-about .get-in-touch .forminator-row:nth-child(3) {
    flex-wrap: wrap;
  }
  body.page-template-about .get-in-touch .forminator-row:nth-child(3) .forminator-col {
    flex: unset;
    width: 50%;
  }
  body.page-template-about .get-in-touch .forminator-row:nth-child(3) .forminator-col:nth-child(3), body.page-template-about .get-in-touch .forminator-row:nth-child(3) .forminator-col:nth-child(4) {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-about .get-in-touch .forminator-row:nth-child(3) {
    flex-wrap: unset;
  }
  body.page-template-about .get-in-touch .forminator-row:nth-child(3) .forminator-col {
    flex: 1;
    width: unset;
  }
  body.page-template-about .get-in-touch .forminator-row:nth-child(3) .forminator-col:nth-child(3), body.page-template-about .get-in-touch .forminator-row:nth-child(3) .forminator-col:nth-child(4) {
    margin-top: unset;
  }
}

body.post-type-archive-concepts nav.concept-nav {
  margin-bottom: clamp(4.5rem, 15vh, 9rem);
  gap: 2rem;
  /*.photo {
      @include tablet {
          grid-column: 2 / span 5;
      }

      @include desktop-small {
          grid-column: 2 / span 8;
          padding-right: 2rem;
      }

      img {
          width: 100%;
      }

      .down-arrow {
          position: absolute;
          width: 3rem;
          height: 3rem;
          top: 15%;
          right: -1.5rem;
          z-index: 10;

          @include desktop-small {
              width: 4rem;
              height: 4rem;
              right: 0rem;
          }

          svg {
              width: 100%;
              height: 100%;
              object-fit: contain;
          }
      }
  }*/
}
@media screen and (min-width: 768px) {
  body.post-type-archive-concepts nav.concept-nav .links {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.post-type-archive-concepts nav.concept-nav .links {
    grid-column: 3/span 10;
  }
}
body.post-type-archive-concepts nav.concept-nav .links-header {
  padding-bottom: 1rem;
}
body.post-type-archive-concepts nav.concept-nav .links-header h4 {
  color: #402312;
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
}
body.post-type-archive-concepts nav.concept-nav ul {
  list-style-type: none;
  padding: 0;
}
@media screen and (min-width: 992px) {
  body.post-type-archive-concepts nav.concept-nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
body.post-type-archive-concepts nav.concept-nav ul li + li {
  padding-top: 0.75rem;
}
@media screen and (min-width: 992px) {
  body.post-type-archive-concepts nav.concept-nav ul li + li {
    padding-top: 0;
  }
}
@media screen and (min-width: 992px) {
  body.post-type-archive-concepts nav.concept-nav ul li {
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
}
body.post-type-archive-concepts nav.concept-nav ul a {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  color: #245364;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  body.post-type-archive-concepts nav.concept-nav ul a {
    font-size: clamp(0.66rem, 0.58rem + 0.48vw, 0.88rem);
  }
}
body.post-type-archive-concepts nav.concept-nav ul a:hover {
  text-decoration: underline;
}
body.post-type-archive-concepts section.concept {
  gap: 2rem;
  color: #402312;
}
body.post-type-archive-concepts section.concept + section.concept {
  margin-top: clamp(4.5rem, 15vh, 9rem);
}
@media screen and (min-width: 768px) {
  body.post-type-archive-concepts section.concept > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.post-type-archive-concepts section.concept .section-header {
    grid-column: 3/span 10;
    padding-bottom: 1rem;
  }
}
body.post-type-archive-concepts section.concept .section-header .name {
  display: flex;
  align-items: center;
}
body.post-type-archive-concepts section.concept .section-header .name .pin {
  width: 4rem;
  height: 3rem;
  margin-right: 1rem;
  transform: translateY(8px);
}
body.post-type-archive-concepts section.concept .section-header .name .pin img {
  display: block;
  width: 100%;
  height: 100%;
}
body.post-type-archive-concepts section.concept .description {
  line-height: 1.75em;
}
@media screen and (min-width: 992px) {
  body.post-type-archive-concepts section.concept .description {
    grid-column: 3/span 6;
  }
}
body.post-type-archive-concepts section.concept .tagline {
  padding: 1rem 0 0 0;
}
body.post-type-archive-concepts section.concept .tagline h4 {
  text-transform: uppercase;
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
  line-height: 1.25em;
  font-weight: 400;
  letter-spacing: 0.05em;
}
body.post-type-archive-concepts section.concept .tabs {
  padding-bottom: 2rem;
}
body.post-type-archive-concepts section.concept .tabs .tab-list {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: flex-end;
}
body.post-type-archive-concepts section.concept .tabs .tab-list a[role=tab] {
  display: block;
  line-height: 1em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
}
body.post-type-archive-concepts section.concept .tabs .tab-list a[role=tab] + a[role=tab] {
  margin-left: 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 1rem;
}
body.post-type-archive-concepts section.concept .tabs .tab-list a[role=tab] span {
  display: inline-block;
  opacity: 0.65;
  padding: 0 0 0.25rem 0;
  border-bottom: 2px solid transparent;
  transition: all 200ms ease;
}
body.post-type-archive-concepts section.concept .tabs .tab-list a[role=tab] span:hover {
  opacity: 1;
}
body.post-type-archive-concepts section.concept .tabs .tab-list a[role=tab][aria-selected=true] span {
  border-color: #376c85;
  opacity: 1;
}
body.post-type-archive-concepts section.concept .tabs .tab-panel {
  display: grid;
  gap: 1rem;
}
body.post-type-archive-concepts section.concept .tabs .tab-panel[hidden] {
  display: none;
}
body.post-type-archive-concepts section.concept .pin {
  width: 3rem;
}
body.post-type-archive-concepts section.concept .contact-info {
  padding-top: 1.5rem;
}
@media screen and (min-width: 992px) {
  body.post-type-archive-concepts section.concept .contact-info {
    padding-top: 0;
    grid-column: 10/span 4;
  }
}
body.post-type-archive-concepts section.concept .contact-info p span {
  display: block;
}
body.post-type-archive-concepts section.concept .contact-info p a {
  display: inline-block;
}
body.post-type-archive-concepts section.concept .neighborhood {
  padding-bottom: 0.5rem;
}
body.post-type-archive-concepts section.concept .neighborhood h5 {
  text-transform: uppercase;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  letter-spacing: 0.05em;
  line-height: 1.25em;
  font-weight: 700;
}
@media screen and (min-width: 1280px) {
  body.post-type-archive-concepts section.concept .neighborhood h5 {
    font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  }
}
body.post-type-archive-concepts section.concept .website {
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  letter-spacing: 0.05em;
  padding-top: 0.5rem;
}
body.post-type-archive-concepts section.concept .website:hover {
  text-decoration: underline;
}
body.post-type-archive-concepts section.concept .phone a[href^="tel:"] {
  color: #402312;
  text-decoration: none;
}
body.post-type-archive-concepts section.concept .social {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
body.post-type-archive-concepts section.concept .social-link + .social-link {
  margin-left: 1rem;
}
body.post-type-archive-concepts section.concept .social-link a {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}
body.post-type-archive-concepts section.concept .social-link svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  fill: #245364;
}
body.post-type-archive-concepts section.concept .social-link .facebook {
  transform: scale(1.33);
}
body.post-type-archive-concepts section.concept .gallery {
  padding-top: 1rem;
  grid-column: 1/-1;
}

body.page-template-community .donate-cta {
  margin-top: -2rem;
  padding-bottom: clamp(3rem, 7.5vh, 6rem);
}
@media screen and (min-width: 992px) {
  body.page-template-community .donate-cta {
    margin-top: -4rem;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-community .donate-cta > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-community .donate-cta > * {
    grid-column: 3/span 10;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-community .donation-request > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-community .donation-request > * {
    grid-column: 3/span 8;
  }
}
body.page-template-community .donation-request .section-header {
  padding-bottom: clamp(4rem, 15vh, 8rem);
}
body.page-template-community .donation-request .section-header .headline {
  padding-bottom: 3rem;
}
body.page-template-community .donation-request .section-header .copy {
  color: #402312;
}
@media screen and (min-width: 783px) {
  body.page-template-community .donation-request .forminator-row:nth-child(3) {
    flex-wrap: wrap;
  }
  body.page-template-community .donation-request .forminator-row:nth-child(3) .forminator-col {
    flex: unset;
    width: 50%;
  }
  body.page-template-community .donation-request .forminator-row:nth-child(3) .forminator-col:nth-child(3), body.page-template-community .donation-request .forminator-row:nth-child(3) .forminator-col:nth-child(4) {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-community .donation-request .forminator-row:nth-child(3) {
    flex-wrap: unset;
  }
  body.page-template-community .donation-request .forminator-row:nth-child(3) .forminator-col {
    flex: 1;
    width: unset;
  }
  body.page-template-community .donation-request .forminator-row:nth-child(3) .forminator-col:nth-child(3), body.page-template-community .donation-request .forminator-row:nth-child(3) .forminator-col:nth-child(4) {
    margin-top: unset;
  }
}

body.page-template-careers .featured-person {
  background: #376c85;
  color: #fff;
  padding: 3rem 0;
  margin: clamp(4rem, 15vh, 8rem) 0;
  align-items: center;
}
@media screen and (min-width: 992px) {
  body.page-template-careers .featured-person {
    padding: clamp(4rem, 15vh, 8rem) 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-careers .featured-person .photo {
    grid-column: 2/span 3;
    height: 100%;
    max-height: 600px;
  }
  body.page-template-careers .featured-person .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-careers .featured-person .photo {
    grid-column: 3/span 4;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-careers .featured-person .photo {
    grid-column: 3/span 5;
  }
}
body.page-template-careers .featured-person .info {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-careers .featured-person .info {
    padding-top: 0;
    grid-column: 5/span 5;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-careers .featured-person .info {
    grid-column: 7/span 6;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-careers .featured-person .info {
    grid-column: 8/span 5;
  }
}
body.page-template-careers .featured-person .headline {
  padding-bottom: 1.5rem;
}
body.page-template-careers .featured-person .headline h3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
}
body.page-template-careers .featured-person .copy > * + * {
  margin-top: 1rem;
}
body.page-template-careers .featured-person .cta {
  padding-top: 2rem;
}
body.page-template-careers section.benefits {
  padding: 0 0 clamp(4rem, 10vh, 8rem) 0;
  color: #402312;
}
@media screen and (min-width: 992px) {
  body.page-template-careers section.benefits .main {
    grid-column: 3/span 10;
  }
}
body.page-template-careers section.benefits .main .headline {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  body.page-template-careers section.benefits .main .headline {
    text-align: center;
  }
}
body.page-template-careers section.benefits .main .headline h3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.075em;
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
}
body.page-template-careers section.benefits .main .copy {
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
}
@media screen and (min-width: 768px) {
  body.page-template-careers section.benefits .main .copy ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
  }
}
body.page-template-careers section.benefits .main .copy li {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  color: #245364;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  body.page-template-careers section.benefits .main .copy li {
    font-size: clamp(0.66rem, 0.58rem + 0.48vw, 0.88rem);
  }
  body.page-template-careers section.benefits .main .copy li + li {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-careers .opportunities > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-careers .opportunities > * {
    grid-column: 3/span 10;
  }
}
body.page-template-careers .opportunities .section-header {
  padding-bottom: clamp(4rem, 15vh, 8rem);
}
body.page-template-careers .opportunities .section-header .headline {
  padding-bottom: 3rem;
}
body.page-template-careers .opportunities .section-header .copy {
  color: #402312;
}
@media screen and (min-width: 783px) {
  body.page-template-careers .opportunities .forminator-row:nth-child(3),
body.page-template-careers .opportunities .forminator-row:nth-child(4) {
    flex-wrap: wrap;
  }
  body.page-template-careers .opportunities .forminator-row:nth-child(3) .forminator-col,
body.page-template-careers .opportunities .forminator-row:nth-child(4) .forminator-col {
    flex: unset;
    width: 50%;
  }
  body.page-template-careers .opportunities .forminator-row:nth-child(3) .forminator-col:nth-child(3), body.page-template-careers .opportunities .forminator-row:nth-child(3) .forminator-col:nth-child(4),
body.page-template-careers .opportunities .forminator-row:nth-child(4) .forminator-col:nth-child(3),
body.page-template-careers .opportunities .forminator-row:nth-child(4) .forminator-col:nth-child(4) {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-careers .opportunities .forminator-row:nth-child(3),
body.page-template-careers .opportunities .forminator-row:nth-child(4) {
    flex-wrap: unset;
  }
  body.page-template-careers .opportunities .forminator-row:nth-child(3) .forminator-col,
body.page-template-careers .opportunities .forminator-row:nth-child(4) .forminator-col {
    flex: 1;
    width: unset;
  }
  body.page-template-careers .opportunities .forminator-row:nth-child(3) .forminator-col:nth-child(3), body.page-template-careers .opportunities .forminator-row:nth-child(3) .forminator-col:nth-child(4),
body.page-template-careers .opportunities .forminator-row:nth-child(4) .forminator-col:nth-child(3),
body.page-template-careers .opportunities .forminator-row:nth-child(4) .forminator-col:nth-child(4) {
    margin-top: unset;
  }
}

body.page-template-catering section.about {
  padding: clamp(3rem, 7.5vh, 6rem) 0;
  color: #402312;
}
@media screen and (min-width: 768px) {
  body.page-template-catering section.about > * {
    grid-column: 3/span 6;
  }
}
body.page-template-catering section.about .section-header {
  padding-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  body.page-template-catering section.about .section-header {
    grid-column: 3/span 10;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-catering section.about .main {
    grid-column: 3/span 6;
  }
}
body.page-template-catering section.about .main .headline {
  padding-bottom: 2rem;
}
body.page-template-catering section.about .main .headline h3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.075em;
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
}
body.page-template-catering section.about .main .copy {
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
}
body.page-template-catering section.about .sidebar {
  padding-top: 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-catering section.about .sidebar {
    padding-top: 3.5rem;
    grid-column: 10/span 3;
  }
}
body.page-template-catering section.about .sidebar-headline {
  padding-bottom: 1rem;
}
body.page-template-catering section.about .sidebar-headline h4 {
  text-transform: uppercase;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  letter-spacing: 0.075em;
  font-weight: 700;
}
body.page-template-catering section.about .sidebar ul {
  list-style-type: none;
  padding: 0;
}
body.page-template-catering section.about .sidebar ul li {
  text-transform: uppercase;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  letter-spacing: 0.075em;
}
body.page-template-catering section.about .sidebar ul li + li {
  padding-top: 0.5rem;
}
body.page-template-catering section.about .sidebar .cta {
  margin-top: 1rem;
}
body.page-template-catering section.about .sidebar .cta .btn {
  white-space: nowrap;
}
body.page-template-catering section.menus {
  padding: clamp(3rem, 7.5vh, 6rem) 0;
}
@media screen and (min-width: 768px) {
  body.page-template-catering section.menus > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-catering section.menus > * {
    grid-column: 3/span 10;
  }
}
@media screen and (min-width: 1680) {
  body.page-template-catering section.menus > * {
    grid-column: 4/span 8;
  }
}
body.page-template-catering section.menus .section-header {
  padding-bottom: 2rem;
}
body.page-template-catering section.menus .menu-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
body.page-template-catering section.menus .cta {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body.page-template-catering section.menus .cta {
    max-width: 100%;
  }
}
body.page-template-catering section.menus .cta .btn {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  height: 100%;
  line-height: 1.25em;
  transition: all 300ms ease;
}
body.page-template-catering section.menus .cta .btn:hover {
  background: #245364;
}
body.page-template-catering section.menus {
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  body.page-template-catering .request-form > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-catering .request-form > * {
    grid-column: 3/span 10;
  }
}
body.page-template-catering .request-form .section-header {
  padding-bottom: clamp(4rem, 15vh, 8rem);
}
body.page-template-catering .request-form .section-header .headline {
  padding-bottom: 3rem;
}
body.page-template-catering .request-form .section-header .copy {
  color: #402312;
}
@media screen and (min-width: 783px) {
  body.page-template-catering .request-form .forminator-row:nth-child(3),
body.page-template-catering .request-form .forminator-row:nth-child(5) {
    flex-wrap: wrap;
  }
  body.page-template-catering .request-form .forminator-row:nth-child(3) .forminator-col,
body.page-template-catering .request-form .forminator-row:nth-child(5) .forminator-col {
    flex: unset;
    width: 50%;
  }
  body.page-template-catering .request-form .forminator-row:nth-child(3) .forminator-col:nth-child(3), body.page-template-catering .request-form .forminator-row:nth-child(3) .forminator-col:nth-child(4),
body.page-template-catering .request-form .forminator-row:nth-child(5) .forminator-col:nth-child(3),
body.page-template-catering .request-form .forminator-row:nth-child(5) .forminator-col:nth-child(4) {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-catering .request-form .forminator-row:nth-child(3),
body.page-template-catering .request-form .forminator-row:nth-child(5) {
    flex-wrap: unset;
  }
  body.page-template-catering .request-form .forminator-row:nth-child(3) .forminator-col,
body.page-template-catering .request-form .forminator-row:nth-child(5) .forminator-col {
    flex: 1;
    width: unset;
  }
  body.page-template-catering .request-form .forminator-row:nth-child(3) .forminator-col:nth-child(3), body.page-template-catering .request-form .forminator-row:nth-child(3) .forminator-col:nth-child(4),
body.page-template-catering .request-form .forminator-row:nth-child(5) .forminator-col:nth-child(3),
body.page-template-catering .request-form .forminator-row:nth-child(5) .forminator-col:nth-child(4) {
    margin-top: unset;
  }
}

body.page-template-gift-cards .product-wrapper {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  padding-bottom: clamp(3rem, 7.5vh, 6rem);
}
@media screen and (min-width: 992px) {
  body.page-template-gift-cards .product-wrapper {
    grid-column: 3/span 10;
  }
}
body.page-template-gift-cards .product a {
  display: block;
}
body.page-template-gift-cards .product a:hover .photo {
  border-color: #376c85;
}
body.page-template-gift-cards .product .photo {
  border: 4px solid transparent;
  transition: all 150ms ease;
  padding: 2rem;
  aspect-ratio: 4/3;
}
body.page-template-gift-cards .product .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body.page-template-gift-cards .product .info {
  padding-top: 1rem;
  text-align: center;
}
body.page-template-gift-cards .product .info span.name {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
}

body.page-template-group-dining section.menus {
  padding: clamp(3rem, 7.5vh, 6rem) 0;
}
@media screen and (min-width: 768px) {
  body.page-template-group-dining section.menus > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-group-dining section.menus > * {
    grid-column: 3/span 10;
  }
}
@media screen and (min-width: 1680) {
  body.page-template-group-dining section.menus > * {
    grid-column: 4/span 8;
  }
}
body.page-template-group-dining section.menus .section-header {
  padding-bottom: 2rem;
}
body.page-template-group-dining section.menus .menu-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
body.page-template-group-dining section.menus .cta {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body.page-template-group-dining section.menus .cta {
    max-width: 100%;
  }
}
body.page-template-group-dining section.menus .cta .btn {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  height: 100%;
  line-height: 1.25em;
  transition: all 300ms ease;
}
body.page-template-group-dining section.menus .cta .btn:hover {
  background: #245364;
}
@media screen and (min-width: 768px) {
  body.page-template-group-dining .request-form > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-group-dining .request-form > * {
    grid-column: 3/span 10;
  }
}
body.page-template-group-dining .request-form .section-header {
  padding-bottom: clamp(4rem, 15vh, 8rem);
}
body.page-template-group-dining .request-form .section-header .headline {
  padding-bottom: 3rem;
}
body.page-template-group-dining .request-form .section-header .copy {
  color: #402312;
}
@media screen and (min-width: 783px) {
  body.page-template-group-dining .request-form .forminator-row:nth-child(3),
body.page-template-group-dining .request-form .forminator-row:nth-child(5) {
    flex-wrap: wrap;
  }
  body.page-template-group-dining .request-form .forminator-row:nth-child(3) .forminator-col,
body.page-template-group-dining .request-form .forminator-row:nth-child(5) .forminator-col {
    flex: unset;
    width: 50%;
  }
  body.page-template-group-dining .request-form .forminator-row:nth-child(3) .forminator-col:nth-child(3), body.page-template-group-dining .request-form .forminator-row:nth-child(3) .forminator-col:nth-child(4),
body.page-template-group-dining .request-form .forminator-row:nth-child(5) .forminator-col:nth-child(3),
body.page-template-group-dining .request-form .forminator-row:nth-child(5) .forminator-col:nth-child(4) {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-group-dining .request-form .forminator-row:nth-child(3),
body.page-template-group-dining .request-form .forminator-row:nth-child(5) {
    flex-wrap: unset;
  }
  body.page-template-group-dining .request-form .forminator-row:nth-child(3) .forminator-col,
body.page-template-group-dining .request-form .forminator-row:nth-child(5) .forminator-col {
    flex: 1;
    width: unset;
  }
  body.page-template-group-dining .request-form .forminator-row:nth-child(3) .forminator-col:nth-child(3), body.page-template-group-dining .request-form .forminator-row:nth-child(3) .forminator-col:nth-child(4),
body.page-template-group-dining .request-form .forminator-row:nth-child(5) .forminator-col:nth-child(3),
body.page-template-group-dining .request-form .forminator-row:nth-child(5) .forminator-col:nth-child(4) {
    margin-top: unset;
  }
}

body.page-template-extras .gallery {
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-extras .gallery {
    padding: 6rem 0;
  }
}
body.page-template-extras .gallery-container {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 480px) {
  body.page-template-extras .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  body.page-template-extras .gallery-container {
    grid-column: 3/span 10;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-extras .gallery-container {
    grid-column: 4/span 8;
  }
}
body.page-template-extras .item a {
  display: block;
  width: 100%;
}
body.page-template-extras .item img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  body.page-template-feedback section.feedback-form > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-feedback section.feedback-form > * {
    grid-column: 3/span 10;
  }
}