body.post-type-archive-concepts .site-nav li.concepts > a,
body.page-template-community .site-nav li.community > a,
body.page-template-careers .site-nav li.careers > a,
body.page-template-catering .site-nav li.catering > a,
body.page-template-extras .site-nav li.extras > a,
body.page-template-group-dining .site-nav li.group-dining > a {
    &:after {
        width: 100%;
        background: $off-white;

        @include desktop-small {
            background: $light-blue;
        }
    }
}
