.hamburger {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 1.5rem;

    @include desktop-small {
        display: none;
    }

    .bun {
        width: 2rem;
        height: 1.5rem;
        display: flex;
        align-items: center;

        .patty {
            width: 2rem;
            height: 2px;
            background: $brown;
            margin-left: auto;
            transition: all 200ms;

            &:after,
            &:before {
                content: '';
                display: block;
                width: 2rem;
                height: 2px;
                background: $brown;
                position: absolute;
                z-index: 1;
                transition: all 200ms;
            }

            &:before {
                top: -8px;
            }

            &:after {
                top: 8px;
            }
        }
    }
}
