.site-header {
    padding: 1.5rem 0;
    align-items: center;
    background: $cream;
    position: sticky;
    top: 0;
    z-index: 5555;
    transition: all 400ms ease;

    &.sticky {
        padding: 0.75rem 0;
        border-bottom: 1px solid rgb($brown, 0.05);
    }

    @import 'logo';

    @import 'hamburger';

    @import 'nav';

    @import 'social';
}

@import 'nav-overlay-open';

@import 'active-nav';
