.logo {
    grid-column: 2 / span 2;
    transition: all 200ms ease;

    img {
        max-width: 12rem;
        transition: all 200ms ease;
    }

    &.small {
        transition: all 200ms ease;

        img {
            max-width: 3rem;
            transition: all 200ms ease;
        }
    }

    &-desktop {
        display: none;

        @include desktop-medium {
            display: block;
        }
    }

    &-mobile {
        @include desktop-medium {
            display: none;
        }
    }
}
