.site-nav {
    @include desktop-small {
        display: block;
        grid-column: 6 / span 7;
    }

    .logo-mark {
        max-width: 5rem;

        a {
            display: block;
        }

        @include cover-fill-image;

        @include desktop-small {
            display: none;
        }
    }

    ul {
        @include desktop-small {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    li + li {
        @include desktop-small {
            margin-left: 2rem;
        }

        @include desktop-large {
            margin-left: 3rem;
        }
    }

    a {
        display: inline-block;
        text-transform: uppercase;
        color: $light-blue;
        font-weight: 500;
        font-size: $type-size-100;
        white-space: nowrap;
        position: relative;

        &:after {
            display: block;
            content: '';
            width: 0;
            height: 2px;
            background: transparent;
            position: absolute;
            bottom: 12px;
            left: 0;
            transition: all 400ms ease 50ms;

            @include desktop-small {
                bottom: -6px;
            }
        }

        &:hover {
            &:after {
                width: 100%;
                background: $off-white;

                @include desktop-small {
                    background: $light-blue;
                }
            }
        }

        @include desktop-medium {
            font-size: $type-size-200;
        }
    }

    @media screen and (max-width: 991px) {
        position: fixed;
        height: 100vh;
        width: 60vw;
        left: -60vw;
        transition: left 200ms ease-in-out 50ms;
        top: 0;
        z-index: 9999;
        background: $light-blue;
        padding: 2rem clamp(3rem, 10vw, 4rem);

        a {
            padding: 1.25rem 0;
            color: $off-white;
            font-size: $type-size-400;
            transition: all 400ms ease;
        }
    }

    @media screen and (max-width: 440px) {
        width: 70vw;
        left: -70vw;
    }
}
