body.nav-overlay-open {
    .hamburger {
        .bun {
            .patty {
                background: none;

                &:after {
                    top: 0;
                    transform: rotate(45deg);
                }

                &:before {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .site-nav {
        @media screen and (max-width: 991px) {
            left: 0;
            box-shadow: rgba(26, 26, 49, 0.42) 0px 30px 60px -12px,
                rgba(0, 0, 0, 0.55) 0px 18px 36px -18px;
        }
    }
}
