.social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 4 / span 2;

    @include tablet-small {
        grid-column: 6 / span 4;
        align-items: end;
    }

    @include desktop-small {
        grid-column: 13 / span 1;
        transform: translateY(-2px);
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    li + li {
        margin-left: 1.5rem;

        @include desktop-small {
            margin-left: 1rem;
        }

        @include desktop-medium {
            margin-left: 1.5rem;
        }
    }

    a {
        display: block;
        width: 1.5rem;
        height: 1.5rem;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            fill: $black;
        }

        &.facebook {
            svg {
                transform: scale(1.5);
            }
        }
    }
}
