section.benefits {
    padding: 0 0 clamp(4rem, 10vh, 8rem) 0;
    color: $burgundy;

    .main {
        @include desktop-small {
            grid-column: 3 / span 10;
        }

        .headline {
            padding-bottom: 1rem;

            @include tablet {
                text-align: center;
            }

            h3 {
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.075em;
                font-size: $type-size-500;
            }
        }

        .copy {
            font-size: $type-size-500;

            ul {
                @include tablet {
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    flex-wrap: wrap;
                }
            }

            li {
                font-size: $type-size-300;
                color: $blue;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-weight: bold;

                @include tablet {
                    font-size: $type-size-150;

                    & + li {
                        margin-left: 2rem;
                    }
                }
            }
        }
    }
}
