.featured-person {
    background: $light-blue;
    color: $white;
    padding: 3rem 0;
    margin: clamp(4rem, 15vh, 8rem) 0;
    align-items: center;

    @include desktop-small {
        padding: clamp(4rem, 15vh, 8rem) 0;
    }

    .photo {
        @include tablet {
            grid-column: 2 / span 3;
            height: 100%;
            max-height: 600px;
            @include cover-fill-image;
        }

        @include desktop-small {
            grid-column: 3 / span 4;
        }

        @include desktop-medium {
            grid-column: 3 / span 5;
        }
    }

    .info {
        padding-top: 2rem;

        @include tablet {
            padding-top: 0;
            grid-column: 5 / span 5;
        }

        @include desktop-small {
            grid-column: 7 / span 6;
        }

        @include desktop-medium {
            grid-column: 8 / span 5;
        }
    }

    .headline {
        padding-bottom: 1.5rem;

        h3 {
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.05em;
            font-size: $type-size-300;
        }
    }

    .copy > * + * {
        margin-top: 1rem;
    }

    .cta {
        padding-top: 2rem;
    }
}
