.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: $type-size-300;

    @include desktop-small {
        font-size: $type-size-200;
    }

    @include desktop-medium {
        font-size: $type-size-300;
    }

    & > div {
        width: 100%;
        text-align: center;

        & + div {
            padding-top: 1rem;
        }

        @include desktop-small {
            width: auto;
            padding-right: 1rem;
            border-right: 1px solid $off-white;
            margin-right: 1rem;

            & + div {
                padding-top: 0;
            }
            &:last-of-type {
                padding-right: 0;
                border-right: none;
                margin-right: 0;
            }
        }
    }

    p {
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 500;
    }

    a {
        text-transform: lowercase;
    }

    .feedback {
        .cta {
            .btn {
                padding: 0.25rem 0.5rem 0.125rem;
                background: $light-blue;
                font-weight: bold;
                font-size: $type-size-100;
                letter-spacing: 0.15em;
                text-transform: uppercase;
            }
        }
    }
}
