.site-footer {
    background: $brown;
    color: $off-white;
    padding: clamp(3rem, 10vh, 6rem) 0;
    margin-top: clamp(3rem, 10vh, 6rem);

    a {
        color: $off-white;
    }

    @import 'logo';

    @import 'subscribe';

    @import 'restaurant-group';

    @import 'contact-info';

    @import 'photo-credit';
}
