.restaurant-group {
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    padding: 4rem 0;

    @include tablet {
        padding: 6rem 0;
    }

    .concept {
        display: flex;
        justify-content: center;
        a {
            display: block;
        }

        img {
            width: 6rem;
            height: 4rem;
            object-fit: contain;

            @include desktop-medium {
                width: 10rem;
                height: 6.5rem;
            }
        }
    }
}
