.subscribe {
    padding-top: 4rem;
    text-align: center;

    @include tablet-small {
        grid-column: 3 / span 6;
    }

    @include desktop-small {
        grid-column: 4 / span 8;
    }

    @include desktop-medium {
        grid-column: 5 / span 6;
    }

    .headline {
        padding-bottom: 2rem;

        h3 {
            font-size: $type-size-400;
            font-weight: 500;
            line-height: 1.25em;
        }
    }

    .subscribe-form {
        width: 100%;

        .form-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            input[type='email'] {
                width: 100%;
                height: 3rem;
                font-size: $type-size-300;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                padding: 0 1rem;
                line-height: 3rem;
                border: none;
                background: $off-white;
                color: $light-blue;
                font-weight: 500;

                @include tablet {
                    flex: 1;
                    width: auto;
                }

                &:focus,
                &:active {
                    outline-color: $light-blue;
                }

                @include placeholder {
                    color: $light-blue;
                }
            }

            input[type='submit'] {
                height: 3rem;
                display: block;
                padding: 0 2rem;
                background: $light-blue;
                color: $off-white;
                border: 1px solid $light-blue;
                font-size: $type-size-300;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                margin-top: 2rem;
                text-align: center;

                @include tablet {
                    margin-top: 0;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}
