section.concept {
    gap: 2rem;
    color: $burgundy;

    & + section.concept {
        margin-top: clamp(4.5rem, 15vh, 9rem);
    }

    & > * {
        @include tablet {
            grid-column: 3 / span 6;
        }
    }

    .section-header {
        @include desktop-small {
            grid-column: 3 / span 10;
            padding-bottom: 1rem;
        }

        .name {
            display: flex;
            align-items: center;

            .pin {
                width: 4rem;
                height: 3rem;
                margin-right: 1rem;
                transform: translateY(8px);

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .description {
        line-height: 1.75em;

        @include desktop-small {
            grid-column: 3 / span 6;
        }
    }

    .tagline {
        padding: 1rem 0 0 0;

        h4 {
            text-transform: uppercase;
            font-size: $type-size-500;
            line-height: 1.25em;
            font-weight: 400;
            letter-spacing: 0.05em;
        }
    }

    .tabs {
        padding-bottom: 2rem;

        .tab-list {
            padding-bottom: 1.5rem;
            display: flex;
            align-items: flex-end;

            a[role='tab'] {
                display: block;
                line-height: 1em;
                color: $black;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-weight: 500;
                font-size: $type-size-200;

                & + a[role='tab'] {
                    margin-left: 1rem;
                    border-left: 1px solid rgba(0, 0, 0, 0.5);
                    padding-left: 1rem;
                }

                span {
                    display: inline-block;
                    opacity: 0.65;
                    padding: 0 0 0.25rem 0;
                    border-bottom: 2px solid transparent;

                    transition: all 200ms ease;

                    &:hover {
                        opacity: 1;
                    }
                }

                &[aria-selected='true'] {
                    span {
                        border-color: $light-blue;
                        opacity: 1;
                    }
                }
            }
        }

        .tab-panel {
            display: grid;
            gap: 1rem;

            &[hidden] {
                display: none;
            }
        }
    }

    .pin {
        width: 3rem;
    }

    .contact-info {
        padding-top: 1.5rem;

        @include desktop-small {
            padding-top: 0;
            grid-column: 10 / span 4;
        }

        p {
            span {
                display: block;
            }

            a {
                display: inline-block;
            }
        }
    }

    .neighborhood {
        padding-bottom: 0.5rem;

        h5 {
            text-transform: uppercase;
            font-size: $type-size-200;
            letter-spacing: 0.05em;
            line-height: 1.25em;
            font-weight: 700;

            @include desktop-medium {
                font-size: $type-size-300;
            }
        }
    }

    .website {
        text-transform: uppercase;
        font-weight: 500;
        font-size: $type-size-200;
        letter-spacing: 0.05em;
        padding-top: 0.5rem;

        &:hover {
            text-decoration: underline;
        }
    }

    .phone {
        a[href^='tel:'] {
            color: $burgundy;
            text-decoration: none;
        }
    }

    .social {
        display: flex;
        align-items: center;
        padding-top: 1rem;
    }

    .social-link {
        & + .social-link {
            margin-left: 1rem;
        }

        a {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
        }

        svg {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            fill: $blue;
        }

        .facebook {
            transform: scale(1.33);
        }
    }

    .gallery {
        padding-top: 1rem;
        grid-column: 1 / -1;
    }
}
