nav.concept-nav {
    margin-bottom: clamp(4.5rem, 15vh, 9rem);
    gap: 2rem;

    /*.photo {
        @include tablet {
            grid-column: 2 / span 5;
        }

        @include desktop-small {
            grid-column: 2 / span 8;
            padding-right: 2rem;
        }

        img {
            width: 100%;
        }

        .down-arrow {
            position: absolute;
            width: 3rem;
            height: 3rem;
            top: 15%;
            right: -1.5rem;
            z-index: 10;

            @include desktop-small {
                width: 4rem;
                height: 4rem;
                right: 0rem;
            }

            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }*/

    .links {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 10;
        }
    }

    .links-header {
        padding-bottom: 1rem;

        h4 {
            color: $burgundy;
            text-transform: uppercase;
            font-weight: 700;
            font-size: $type-size-300;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;

        @include desktop-small {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        li {
            & + li {
                padding-top: 0.75rem;

                @include desktop-small {
                    padding-top: 0;
                }
            }

            @include desktop-small {
                padding-right: 2rem;
                padding-bottom: 2rem;
            }
        }

        a {
            font-size: $type-size-300;
            color: $blue;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: bold;

            @include tablet {
                font-size: $type-size-150;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
