section.about {
    padding: $spacer 0;
    color: $burgundy;

    & > * {
        @include tablet {
            grid-column: 3 / span 6;
        }
    }

    .section-header {
        padding-bottom: 1rem;
        @include desktop-small {
            grid-column: 3 / span 10;
        }
    }

    .main {
        @include desktop-small {
            grid-column: 3 / span 6;
        }

        .headline {
            padding-bottom: 2rem;

            h3 {
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.075em;
                font-size: $type-size-500;
            }
        }

        .copy {
            font-size: $type-size-500;
        }
    }

    .sidebar {
        padding-top: 3rem;

        @include desktop-small {
            padding-top: 3.5rem;
            grid-column: 10 / span 3;
        }

        &-headline {
            padding-bottom: 1rem;

            h4 {
                text-transform: uppercase;
                font-size: $type-size-300;
                letter-spacing: 0.075em;
                font-weight: 700;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                text-transform: uppercase;
                font-size: $type-size-200;
                letter-spacing: 0.075em;

                & + li {
                    padding-top: 0.5rem;
                }
            }
        }

        .cta {
            margin-top: 1rem;

            .btn {
                white-space: nowrap;
            }
        }
    }
}
