section.menus {
    padding: $spacer 0;

    & > * {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 10;
        }

        @include desktop-x-large {
            grid-column: 4 / span 8;
        }
    }

    .section-header {
        padding-bottom: 2rem;
    }

    .menu-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .cta {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;

        @include tablet {
            max-width: 100%;
        }

        .btn {
            display: flex;
            width: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: $type-size-200;
            height: 100%;
            line-height: 1.25em;
            transition: all 300ms ease;

            &:hover {
                background: $blue;
            }
        }
    }
}
