.directory {
    @include section-spacing;

    & > * {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 8;
        }
    }

    &__list {
        padding-top: 3rem;
        display: grid;
        gap: 4rem;
    }

    &__item {
        &-header {
            padding-bottom: 0.5rem;

            h4 {
                text-transform: uppercase;
                font-size: $type-size-300;
                letter-spacing: 0.05em;
            }
        }

        &-body {
            font-size: $type-size-300;

            p {
                display: flex;
                align-items: flex-end;

                & > * + * {
                    border-left: 1px solid;
                    padding-left: 0.5rem;
                    margin-left: 0.5rem;
                }
            }
        }

        &-name {
            text-transform: uppercase;
        }

        &-email {
            text-decoration: underline;
        }
    }
}
