.get-in-touch {
    @include section-spacing;

    & > * {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 8;
        }
    }

    .section-header {
        padding-bottom: 3rem;

        @include desktop-small {
            grid-column: 3 / span 6;
        }
        .headline {
            padding-bottom: 3rem;
        }

        .copy {
            color: $burgundy;
        }
    }

    .contact-info {
        padding-bottom: 3rem;

        @include desktop-small {
            padding-top: 7.5rem;
            padding-bottom: 0;
            grid-column: 10 / span 3;
        }

        p {
            span {
                display: block;
            }

            a {
                display: inline-block;
            }
        }

        .location {
            padding-bottom: 0.5rem;

            h5 {
                text-transform: uppercase;
                font-size: $type-size-200;
                letter-spacing: 0.05em;
                line-height: 1.25em;
                font-weight: 700;

                @include desktop-medium {
                    font-size: $type-size-300;
                }
            }
        }

        .email {
            text-transform: uppercase;
            font-weight: 500;
            font-size: $type-size-200;
            letter-spacing: 0.05em;
            padding-top: 0.5rem;

            &:hover {
                text-decoration: underline;
            }
        }

        .phone {
            a[href^='tel:'] {
                color: $burgundy;
                text-decoration: none;
            }
        }
    }

    .form-header {
        @include desktop-small {
            padding-top: 3rem;
        }
    }

    .forminator-custom-form {
        @include desktop-small {
            grid-column: 3 / span 10;
        }
    }

    .forminator-row:nth-child(3) {
        @media screen and (min-width: 783px) {
            flex-wrap: wrap;

            .forminator-col {
                flex: unset;
                width: 50%;

                &:nth-child(3),
                &:nth-child(4) {
                    margin-top: 2rem;
                }
            }
        }

        @include desktop-medium {
            flex-wrap: unset;

            .forminator-col {
                flex: 1;
                width: unset;

                &:nth-child(3),
                &:nth-child(4) {
                    margin-top: unset;
                }
            }
        }
    }
}
