section.people {
    &-mobile {
        overflow: hidden;
        @include tablet {
            display: none;
        }

        .person {
            width: 50vw;
        }
    }

    &-desktop {
        display: none;

        @include tablet {
            display: grid;
        }

        .container {
            @include tablet {
                display: grid;
                gap: 3rem 2rem;
                grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            }
            @include desktop-small {
                grid-column: 3 / span 10;
            }
        }
    }

    .person {
        .photo {
            img {
                aspect-ratio: 220 / 228;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .info {
            padding-top: 0.75rem;

            .name {
                h4 {
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    line-height: 1.25em;
                    font-size: $type-size-300;
                }
            }

            .title {
                padding-top: 0.25rem;

                h5 {
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    line-height: 1.5em;
                    font-size: $type-size-200;
                }
            }
        }
    }
}
