.copy {
    &-1 {
        font-size: $type-size-500;
        font-weight: 500;
        line-height: 1.675em;

        @include desktop-medium {
            font-size: $type-size-600;
        }

        &.small {
            font-size: $type-size-400;
            font-weight: 500;
            line-height: 1.675em;

            @include desktop-medium {
                font-size: $type-size-500;
            }
        }

        & > * + * {
            margin-top: 1rem;
        }

        a {
            text-decoration: underline;
        }
    }

    &-2 {
        font-size: $type-size-300;
        line-height: 1.5em;

        &.large {
            font-size: $type-size-500;
        }
    }

    &-3 {
        font-size: $type-size-200;
        line-height: 1.5em;
    }
}
