.section-title {
    font-size: $type-size-1000;
    color: $burgundy;
    text-transform: lowercase;
    font-weight: bold;
}

.upper-title {
    color: $light-blue;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: $type-size-500;
    line-height: 1.5em;
}
