body,
button,
input,
select,
optgroup,
textarea {
    font-family: $brandon;
    color: $brown;
}

a {
    color: $blue;
    text-decoration: none;
}

::-moz-selection {
    background: $light-blue;
    text-shadow: none;
}

::selection {
    background: $light-blue;
    color: $white;
    text-shadow: none;
}

@import 'headings';

@import 'copy';
