body {
    background: $cream;
}

.site-content {
    min-height: 50vh;
}

html {
    scroll-behavior: smooth;

    @include desktop-small {
        scroll-padding-top: $scroll-top-padding;
    }
}

@import 'grid';
