body.page-template-about {
    .page-header {
        .anchor {
            padding-top: 3rem;

            a {
                font-size: $type-size-300;
                color: $blue;
                text-transform: uppercase;
                letter-spacing: 0.05em;

                @include tablet {
                    font-size: $type-size-200;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @import 'about/people';

    @import 'about/directory';

    @import 'about/get-in-touch';
}
