body.page-template-community {
    .donate-cta {
        margin-top: -2rem;
        padding-bottom: $spacer;

        @include desktop-small {
            margin-top: -4rem;
        }
        & > * {
            @include tablet {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                grid-column: 3 / span 10;
            }
        }
    }

    @import 'community/donation-request';
}
