body.page-template-extras {
    .gallery {
        @include section-spacing;
    }

    .gallery-container {
        display: grid;
        gap: 1rem;

        @include tablet-small {
            grid-template-columns: repeat(2, 1fr);
        }

        @include desktop-small {
            grid-column: 3 / span 10;
            grid-template-columns: repeat(3, 1fr);
        }

        @include desktop-medium {
            grid-column: 4 / span 8;
        }
    }

    .item {
        a {
            display: block;
            width: 100%;
        }

        img {
            aspect-ratio: 1 / 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
