body.page-template-feedback {
    section.feedback-form {
        & > * {
            @include tablet {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                grid-column: 3 / span 10;
            }
        }
    }
}
