body.page-template-gift-cards {
    .product-wrapper {
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        padding-bottom: $spacer;

        @include desktop-small {
            grid-column: 3 / span 10;
        }
    }

    .product {
        a {
            display: block;

            &:hover {
                .photo {
                    border-color: $light-blue;
                }
            }
        }

        .photo {
            border: 4px solid transparent;
            transition: all 150ms ease;
            padding: 2rem;
            aspect-ratio: 4 / 3;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .info {
            padding-top: 1rem;
            text-align: center;

            span.name {
                font-size: $type-size-300;
            }
        }
    }
}
