.donation-request {
    & > * {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 8;
        }
    }

    .section-header {
        padding-bottom: clamp(4rem, 15vh, 8rem);

        .headline {
            padding-bottom: 3rem;
        }

        .copy {
            color: $burgundy;
        }
    }

    .forminator-row:nth-child(3) {
        @media screen and (min-width: 783px) {
            flex-wrap: wrap;

            .forminator-col {
                flex: unset;
                width: 50%;

                &:nth-child(3),
                &:nth-child(4) {
                    margin-top: 2rem;
                }
            }
        }

        @include desktop-medium {
            flex-wrap: unset;

            .forminator-col {
                flex: 1;
                width: unset;

                &:nth-child(3),
                &:nth-child(4) {
                    margin-top: unset;
                }
            }
        }
    }
}
