section.concepts {
    overflow-x: hidden;
    position: relative;

    @include desktop-small {
        overflow-x: unset;
        padding-top: clamp(6rem, 15vh, 12rem);
    }

    .concepts-0-snap-point {
        position: absolute;
        top: -12%;
    }

    .concepts-50-snap-point {
        position: absolute;
        top: 40%;
    }

    .concepts-100-snap-point {
        position: absolute;
        bottom: -500px;
        height: 500px;
    }

    .concepts-section-header {
        padding-bottom: $spacer;
        position: relative;

        &-mobile {
            display: block;
            text-align: center;

            @include desktop-small {
                display: none;
            }
        }

        &-desktop {
            display: none;
            @include desktop-small {
                display: block;
                padding-bottom: 0;
                position: absolute;
                grid-column: 1 / -1;
                text-align: center;
                width: 100%;
                top: 0;
                transition: all 700ms ease;

                &.park {
                    position: absolute;
                    top: auto;
                    bottom: 13%;
                }
            }
        }
    }

    .concepts-section-title {
        &-desktop {
            @include desktop-small {
                transition: all 700ms ease;
                position: absolute;
                width: 100%;
            }
            &.fixed {
                @include desktop-small {
                    position: fixed;
                    bottom: 50%;
                    z-index: 4444;
                    width: 100%;
                    transition: all 700ms ease;
                    font-size: $type-size-2000;
                }

                &.half {
                    @include desktop-small {
                    }
                }
            }

            &.park {
                @include desktop-small {
                    position: relative;
                    top: 0;
                    bottom: unset;
                }
            }
        }
    }

    .concept {
        display: flex;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 12;
        }

        & + .concept {
            margin-top: clamp(3rem, 10vh, 6rem);
        }

        &:nth-child(odd) {
            @include desktop-small {
                justify-content: flex-end;
            }
        }
    }

    .photo {
        width: 100%;

        @include desktop-small {
            width: 50%;
        }

        & > img {
            width: 100%;
        }
    }

    .sticker,
    .pin {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .sticker {
        width: 10rem;
        height: 4rem;

        @include tablet {
            width: 12rem;
            height: 8rem;
        }

        @include desktop-small {
            width: 15rem;
            height: 10rem;
        }
    }

    .pin {
        width: 4rem;
        height: 4rem;

        @include tablet {
            width: 6rem;
            height: 6rem;
        }
    }

    .concept-purple {
        .sticker {
            top: 66%;
            right: -3rem;

            @include desktop-small {
                top: 20%;
                right: -8rem;
            }
        }

        .seattle {
            right: auto;
            left: -2rem;
            top: 25%;

            @include desktop-small {
                left: auto;
                right: -60%;
                top: 50%;
            }
        }

        .woodinville {
            right: 25%;
            top: -2rem;

            @include desktop-small {
                top: auto;
                bottom: -3rem;
            }
        }
    }

    .concept-pablo {
        .pablo-y-pablo {
            top: 33%;
            right: -2.25rem;

            @include desktop-small {
                right: auto;
                left: -80%;
            }
        }

        .wallingford {
            right: 5%;
            top: -1rem;

            @include desktop-small {
                left: -3rem;
                right: auto;
                top: 20%;
            }
        }

        .woodinville {
            right: auto;
            top: 25%;
            left: -2rem;

            @include desktop-small {
                top: -2rem;
                left: 65%;
            }
        }
    }

    .concept-fiasco {
        .sticker {
            top: 66%;
            right: -1rem;

            @include desktop-small {
                top: 33%;
                right: -6rem;
            }
        }

        .pin {
            right: auto;
            left: -2rem;
            top: 25%;

            @include desktop-small {
                top: auto;
                bottom: -3rem;
                left: 33%;
            }
        }
    }

    .concept-moon {
        .sticker {
            top: 66%;
            right: auto;
            left: -1.5rem;
            height: 6rem;

            @include tablet {
                height: 8rem;
            }

            @include desktop-small {
                left: -8rem;
            }
        }

        .pin {
            right: -2rem;
            top: 33%;

            @include desktop-small {
                top: -3rem;
                right: 25%;
            }
        }
    }

    .concept-barrio {
        .sticker {
            top: 66%;
            right: -3rem;
            height: 4rem;

            @include tablet {
                height: 6rem;
                right: -11rem;
            }
        }

        .pin {
            right: 40%;
            top: -2rem;

            @include desktop-small {
                right: 30%;
                top: -4rem;
            }
        }
    }

    .concept-livbud {
        .sticker {
            top: 50%;
            right: auto;
            left: -1.5rem;
            height: 6rem;

            @include tablet {
                height: 8rem;
            }

            @include desktop-small {
                left: -8rem;
            }
        }

        .pin-1 {
            right: -1rem;
            top: 5rem;

            @include desktop-small {
                top: -3rem;
                right: 25%;
            }
        }
        .pin-2 {
            top: 2rem;
            left: -1rem;

            @include desktop-small {
                top: 3rem;
                left: -3rem;
            }
        }
    }
}
