section.hero {
    .headline {
        aspect-ratio: 4 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        padding: 0 2rem;

        @include tablet {
            aspect-ratio: 16 / 9;
        }

        @include desktop-small {
            aspect-ratio: unset;
            height: 40vh;
        }
    }

    .section-title {
        @include desktop-small {
            font-size: $type-size-2000;
        }
    }

    .icon {
        display: flex;
        justify-content: center;
        padding: clamp(3rem, 10vh, 6rem) 0 2rem;
    }

    .down-arrow {
        display: flex;
        justify-content: center;
        padding-bottom: $spacer;

        svg {
            animation: bounceArrow 1200ms ease-in-out infinite;
        }
    }

    @keyframes bounceArrow {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(1rem);
        }
        100% {
            transform: translateY(0);
        }
    }
}
