.js-fade-in {
    opacity: 0;
    transform: translateY(6rem);
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 1200ms;
    transition-delay: 500ms;

    &.show {
        opacity: 1;
        transform: translateY(0);
    }
}

.delay-1000 {
    transition-delay: 1000ms;
}

.delay-1500 {
    transition-delay: 1500ms;
}

.delay-2000 {
    transition-delay: 2000ms;
}

.duration-600 {
    transition-duration: 600ms;
}

.duration-800 {
    transition-duration: 800ms;
}

.duration-1000 {
    transition-duration: 1000ms;
}
