.cta {
    .btn {
        display: inline-block;
        padding: 1.5rem 4rem;
        font-size: $type-size-300;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.05em;

        &.white {
            background: $white;
            color: $light-blue;
        }

        &.blue {
            background: $light-blue;
            color: $white;
        }
    }
}
