.forminator-custom-form {
    label {
        display: block;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 0.075em;
        font-size: $type-size-200;
    }

    input[type='email'],
    input[type='text'],
    input[type='number'],
    textarea {
        background: transparent;
        border: 1px solid $light-blue;
        width: 100%;
        padding: 1rem;
        line-height: 3.5rem;
        font-size: $type-size-400;
        font-weight: 500;
        letter-spacing: 0.025em;
    }

    textarea {
        line-height: 1.25em;
        font-weight: 400;
        font-size: $type-size-300;
    }

    input[type='email'],
    input[type='text'],
    input[type='number'] {
        height: 3.5rem;
    }

    .forminator-select--field {
        width: 100%;
        height: 3.5rem;
        font-size: $type-size-300;
        line-height: 3.5rem;
        padding: 0.5rem 1rem;
    }

    .forminator-checkbox {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .forminator-checkbox-box {
            width: 1.25rem;
            height: 1.25rem;
            background: white;
            margin-right: 0.5rem;
            position: relative;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.25);

            &::after {
                content: '';
                position: absolute;
                display: none;
                left: 7px;
                top: 3px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

        input:checked ~ .forminator-checkbox-box {
            background-color: $light-blue;

            &:after {
                display: block;
            }
        }
    }

    textarea {
        height: 10rem;
    }

    select {
        background: transparent;
    }

    h4.forminator-label {
        font-weight: 700;
        text-transform: uppercase;
        font-size: $type-size-200;
        letter-spacing: 0.05em;
        padding-bottom: 0.5rem;
    }

    .forminator-row {
        width: 100%;
    }

    .forminator-field {
        position: relative;

        .forminator-error-message {
            margin-top: 0.5rem;
            display: block;
            width: max-content;
            background: #b33b3b;
            color: $white;
            padding: 0.5rem 0.75rem;
            font-size: $type-size-100;
            font-family: $sofia;
            font-weight: 400;
            letter-spacing: 0.025em;
            line-height: 1.25em;
        }
    }

    .forminator-row-last {
        margin-bottom: 0 !important;
        padding-top: 2rem;
    }

    .forminator-button-submit {
        background: $light-blue;
        color: $white;
        border: none;
        display: block;
        padding: 1.5rem 4rem;
        font-size: $type-size-300;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.05em;

        &:hover {
            cursor: pointer;
        }
    }

    .forminator-timepicker {
        .forminator-row {
            display: flex !important;

            & > * + * {
                margin-left: 1rem;
            }

            & > *:nth-child(3) {
                margin-top: 17px !important;
            }
        }

        .forminator-field {
            & > label {
                font-size: $type-size-050;
            }
        }
    }

    .forminator-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: $type-size-300;
        line-height: 1.25em;
        letter-spacing: 0.1em;
        padding-top: 2rem;
    }

    .forminator-response-message {
        &.forminator-error {
            display: none !important;
        }

        &.forminator-success {
            font-size: $type-size-400;
            display: inline-block;
            padding: 1.5rem 2rem;
            margin: 2rem 0;
            background: $light-blue;
            color: $white;
        }
    }
}

.ui-datepicker {
    background: $white;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px, rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
    transform: translate3d(1rem, -1rem, 0);

    &-header {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid $light-blue;
    }

    &-prev,
    &-next {
        width: 50%;
        text-align: center;
        border-bottom: 1px solid $blue;

        span {
            color: $light-blue;
            display: block;
            padding: 0.675rem 1rem;
            font-weight: 700;
            font-size: $type-size-100;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            transition: all 200ms ease;
            align-items: center;
            display: flex;
        }

        &:hover {
            cursor: pointer;

            span {
                background: $light-blue;
                color: $white;
            }
        }
    }

    &-next {
        border-left: 1px solid;

        span {
            justify-content: flex-end;

            &:after {
                display: block;
                margin-left: 0.5rem;
                content: ' >';
            }
        }
    }

    &-prev {
        span {
            &:before {
                display: block;
                margin-right: 0.5rem;
                content: '< ';
            }
        }
    }

    &-title {
        display: flex;
        width: 100%;
    }

    &-month,
    &-year {
        width: 50%;
        color: $white;
        background: $light-blue;
        border-color: $light-blue;
        font-weight: bold;
        height: 2.5rem;
        border-radius: 0;
        padding: 0 0.5rem;

        &:focus,
        &:active {
            outline: none;
        }
    }

    &-year {
        border-left: 1px solid $blue;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        border-spacing: 0;
    }

    &-calendar {
        border-left: 1px solid $light-blue;

        th {
            background: $blue;
            color: $white;
            padding: 0.5rem;
            text-align: center;
        }

        td {
            border-right: 1px solid $light-blue;
            border-bottom: 1px solid $light-blue;
            text-align: center;

            a {
                display: block;
                padding: 0.5rem;
                &:hover,
                &.ui-state-active {
                    background: $light-blue;
                    color: $white;
                }
            }
        }
    }
}
