.gallery {
    grid-column: 1 / -1;
    overflow: hidden;

    .photo {
        width: calc(53vw - 6rem);
        aspect-ratio: 379 / 393;

        @include tablet {
            width: calc(33.33vw - 4rem);
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &.medium {
            aspect-ratio: 568 / 393;
            width: calc(75.25vw - 8rem);

            @include tablet {
                width: calc(50vw - 6rem);
            }
        }

        &.large {
            aspect-ratio: 758 / 393;
            width: calc(89.75vw - 8rem);

            @include tablet {
                width: calc(66.66vw - 8rem);
            }
        }
    }
}
