.page-header {
    @include section-spacing;

    @include desktop-small {
        padding-top: 12rem;
    }

    & > * {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 8;
        }
    }

    .headline {
        padding-bottom: 1rem;
    }

    .copy {
        max-width: 68rem;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}
